





html, body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgba(209, 250, 229)
}

p {
	font-size: 0.9rem;
	width: 100%;
}

h1 {
	font-size: 2.4rem
}

h3 {
	margin: 0px;
}

.headline {
	
    margin: 10px auto;
    width: 70%;
    text-align: center;
}

.main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 40% 1fr 40% 1fr;
}


.stats {
    grid-column: 2/3;
    
}

.error {
	text-align: center;
}

ul {
    
    list-style-type: none;

}

li {
    margin-top: 2px;
}


/* Traffic Lights  */


.traffic-lights {
    grid-column: 4/5;
    display: flex;
    justify-content: space-between;
}

.traffic-box {
	margin-right: 1rem;
	margin-left: 1rem;
	height: 50vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

.traffic-light-container {
    margin-top: 20px;
    background-color: #2c3e50;
	border-radius: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 15px 0;
	height: 200px;
	width: 70px;
}

.circle {
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 100%;
	position: relative;
	height: 40px;
	width: 40px;
}

.circle::after {
	border-right: 4px solid rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	content: ' ';
	position: absolute;
	top: 5px;
	left: 0px;
	width: 30px;
	height: 30px;
}

.circle.red {
	background-color: #c0392b;
	box-shadow: 0 0 20px 5px #c0392b;
}

.circle.yellow {
	background-color: #f1c40f;
	box-shadow: 0 0 20px 5px #f1c40f;
}

.circle.green {
	background-color: #2ecc71;
	box-shadow: 0 0 20px 5px #2ecc71;
}



/* =================
	media queries 
================= */

@media (max-width: 1000px) {
    .main {
		width: 80%;
		margin: 0 auto;
		display: grid;
		grid-template-rows: 1fr 400px 60px 400px;
		grid-template-columns: 1fr auto 1fr;
	}

	.traffic-lights {
		grid-column: 2/3;
		grid-row: 2/3;
		border: red 1px sloid;
	}

	.stats {
		grid-row: 4/5;
		grid-column: 2/3;
	}

	p {
		font-size: 1.2rem;
		margin: 5px;
		margin-top: 20px;
	}

	.traffic-box {
		margin: 0px;
		height: 20vh;
	}
}